src/external/*

build/**
log/**
install/**

# gb_optimizer dependencies
src/path_planning/gb_optimizer_nav2/*
src/path_planning/gb_optimizer_nav2/gb_optimizer_nav2/global_racetrajectory_optimization/*