# Docker container runtime
# IF you want to utilize a nvidia gpu, 
# make sure you install nvidia-container-toolkit, and do
# RUNTIME="nvidia"
RUNTIME="nvidia"

# The TTLs you want to load. Look at src/common/common_metadata for available options
# TTL_FOLDER="UCSD_EIGHT_FIG_ENU_TTL_CSV"
TTL_FOLDER="UCSD_EIGHT_FIG_ENU_TTL_CSV"

# Set which car you want to run with the controller
CONTROLLER=True
# Set which controller you want to use
# logitech_f710
# radiomaster_pocket
CONTROLLER_NAME=radiomaster_pocket

# GPS Origin of the TTLs. It is available as the last 3 values in the first row of the TTL header
GPS_ORIGIN_LAT=32.88128944751862
GPS_ORIGIN_LON=-117.2353175472838
GPS_ORIGIN_ALT=0.0

# Which sim map you want to load.
MAP_NAME="Putnam"

# available: GPS, GPS_LIDAR, GPS_LIDAR_CAMERAS, GPS_LIDAR_CAMERAS_FULL
# IF you want to run different SENSORS on different cars do
# SENSORS="GPS_LIDAR","GPS"
SENSORS="GPS"

# The Vehicle you are running. Can take the values of UCSD_BLUE and UCSD_YELLOW right now
VEHICLE_NAME="UCSD_BLUE"

# Parameter configuration you want to load. Can take the values of IAC_LVMS and HAWAII_GOKART_UHMCP now
RACE_TYPE="SVL_PUTNAM"

# Whether to use sim time or not
USE_SIM_TIME=True

# Whether to launch joystick
LAUNCH_JOYSTICK=False

# Whether to launch perception or not
LAUNCH_PERCEPTION=False

# Whether to launch localization or not
LAUNCH_LOCALIZATION=True

# Whether to launch boundary Publisher
LAUNCH_BPP=True
