<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robocar">
  <xacro:property name="wheelbase_front" value="0.15875" />
  <xacro:property name="wheelbase_rear" value="0.17145" />
  <xacro:property name="width" value="0.2032" />
  <xacro:property name="height" value="0.05" />
  <!-- <xacro:property name="ground_offset" value="0.04" /> -->
  <!-- <xacro:property name="laser_distance_from_base_link" value="0.275" /> -->
  <!-- <xacro:property name="laser_height" value="0.05" /> -->
  <!-- <xacro:property name="laser_radius" value="0.026" /> -->
  <xacro:property name="car_name" value="ego_racecar" />
  <link name="base_link" />

  <link name="base_footprint" />
  <link name="nav_base" />
  <link name="cg" />
  <link name="rear_axle_middle" />
  <link name="rear_axle_middle_ground" />
  <link name="front_axle_middle" />
  <link name="model">
    <visual>
      <geometry>
        <mesh filename="package://common_metadata/urdf/robocar/visual/il15_body.stl" scale="0.01 0.01 0.01" />
      </geometry>
      <material name="white">
        <color rgba="1.0 1.0 1.0 1.0" />
      </material>
    </visual>
  </link>

  <link name="gps_top" />
  <link name="imu_top" />

  <link name="gps_antenna_front" />

  <link name="livox_front" />

  <link name="camera_front" />
  <link name="camera_front_left_center" />
  <link name="camera_front_right_center" />

  <link name="tyre_fl">
    <visual>
      <geometry>
        <mesh filename="package://common_metadata/urdf/robocar/visual/il15_tyre_fl.stl" scale="0.01 0.01 0.01" />
      </geometry>
      <material name="white">
        <color rgba="1.0 1.0 1.0 1.0" />
      </material>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </visual>
  </link>
  <link name="tyre_fr">
    <visual>
      <geometry>
        <mesh filename="package://common_metadata/urdf/robocar/visual/il15_tyre_fr.stl" scale="0.01 0.01 0.01" />
      </geometry>
      <material name="white">
        <color rgba="1.0 1.0 1.0 1.0" />
      </material>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </visual>
  </link>
  <link name="tyre_rl">
    <visual>
      <geometry>
        <mesh filename="package://common_metadata/urdf/robocar/visual/il15_tyre_rl.stl" scale="0.01 0.01 0.01" />
      </geometry>
      <material name="white">
        <color rgba="1.0 1.0 1.0 1.0" />
      </material>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </visual>
  </link>
  <link name="tyre_rr">
    <visual>
      <geometry>
        <mesh filename="package://common_metadata/urdf/robocar/visual/il15_tyre_rr.stl" scale="0.01 0.01 0.01" />
      </geometry>
      <material name="white">
        <color rgba="1.0 1.0 1.0 1.0" />
      </material>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </visual>
  </link>

  <joint name="rear_axle_middle_ground_joint" type="fixed">
    <parent link="base_footprint" />
    <child link="rear_axle_middle_ground" />
    <origin xyz="0.0 0.0 0.0" />
  </joint>

  <joint name="wheel_base" type="fixed">
    <parent link="base_link" />
    <child link="front_axle_middle" />
    <origin xyz="${(wheelbase_front+wheelbase_rear)/2} 0.0 0.0" />
  </joint>

  <joint name="rear_axle_middle_joint" type="fixed">
    <parent link="base_link" />
    <child link="rear_axle_middle" />
    <origin xyz="0 0 0" />
  </joint>

  <!-- Needs to be updated -->
  <joint name="cg_joint" type="fixed">
    <parent link="base_link" />
    <child link="cg" />
    <origin xyz="${(wheelbase_rear-wheelbase_front)/2} 0.0 0.074" />
  </joint>

  <!-- What is this? -->
  <joint name="model_joint" type="fixed">
    <parent link="base_link" />
    <child link="model" />
    <origin xyz="1.725 0.0 -0.31" rpy="1.5708 0.0 1.5708" />
  </joint>

  <joint name="nav_base_joint" type="fixed">
    <parent link="cg" />
    <child link="nav_base" />
    <origin xyz="0 0 0" />
  </joint>

  <!-- What is this? -->
  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_link" />
    <child link="base_footprint" />
    <origin xyz="0 0 -0.09525" />
  </joint>

  <joint name="gps_top_joint" type="fixed">
    <parent link="base_link" />
    <child link="gps_top" />
    <origin xyz="1.63574 0.075 -1.0075" />
  </joint>

  <joint name="imu_top_joint" type="fixed">
    <parent link="gps_top" />
    <child link="imu_top" />
    <origin xyz="0.0 0.0 0.0" />
  </joint>

  <joint name="gps_antenna_front_joint" type="fixed">
    <parent link="base_link" />
    <child link="gps_antenna_front" />
    <origin xyz="3.17566 0.00005 0.37202" />
  </joint>

  <joint name="livox_front_joint" type="fixed">
    <parent link="base_link" />
    <child link="livox_front" />
    <origin xyz="2.22177 0.00541 0.46683" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="camera_front_left_center_joint" type="fixed">
    <parent link="base_link" />
    <child link="camera_front_left_center" />
    <origin xyz="2.22226 0.19 0.41974" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="camera_front_right_center_joint" type="fixed">
    <parent link="base_link" />
    <child link="camera_front_right_center" />
    <origin xyz="2.22226 -0.19 0.41974" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- Don't have -->
  <joint name="camera_front_joint" type="fixed">
    <parent link="base_link" />
    <child link="camera_front" />
    <origin xyz="1.473 -0.140 0.543" rpy="0 0 0" />
  </joint>

  <joint name="fl_tyre_joint" type="fixed">
    <parent link="front_axle_middle" />
    <child link="tyre_fl" />
    <origin xyz="0.0 0.91045 0.0" rpy="0 0 1.5708" />
  </joint>

  <joint name="fr_tyre_joint" type="fixed">
    <parent link="front_axle_middle" />
    <child link="tyre_fr" />
    <origin xyz="0.0 -0.91045 0.0" rpy="0 0 1.5708" />
  </joint>

  <!-- Janam's measurements has a displacement in the X -->
  <joint name="rl_tyre_joint" type="fixed">
    <parent link="rear_axle_middle" />
    <child link="tyre_rl" />
    <origin xyz="0.00238 0.83734 0.03456" rpy="0 0 1.5708" />
  </joint>

  <!-- Janam's measurements has a displacement in the X -->
  <joint name="rr_tyre_joint" type="fixed">
    <parent link="rear_axle_middle" />
    <child link="tyre_rr" />
    <origin xyz="0.00194 -0.83734 0.0344" rpy="0 0 1.5708" />
  </joint>
</robot>
